@import "tailwindcss";

:root {
  --color-primary:   #5E2D53;
  --color-secondary: #8C6E85;
  --color-offwhite:  #F4F0EE;
  --color-gold:      #D4AF37;
  --color-dark:      #1A1A1A;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-display: var(--font-playfair);
}

body {
  background: #F4F0EE;
  color: #2C2C2C;
}
